V2 - Implemented Logistic Regression

V1 - Random Forest, MLP Classifier and Decision Tree Classifier algorithms used

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/house-prices-advanced-regression-techniques/test.csv
/kaggle/input/house-prices-advanced-regression-techniques/train.csv
/kaggle/input/house-prices-advanced-regression-techniques/sample_submission.csv
/kaggle/input/house-prices-advanced-regression-techniques/data_description.txt

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('/kaggle/input/house-prices-advanced-regression-techniques/train.csv')
t_df = pd.read_csv('/kaggle/input/house-prices-advanced-regression-techniques/test.csv')

ffile = t_df['Id']
df.drop(columns='Id', inplace=True)
t_df.drop(columns='Id', inplace=True)

In [4]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
label = LabelEncoder()
cols = df.columns.tolist()
cols.remove('SalePrice')
for i in cols:
    try:
        t_df[i] = label.fit_transform(t_df[i].astype('str'))
        df[i] = label.fit_transform(df[i].astype('str'))
    except:
        pass
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,9,3,75,859,1,2,3,3,0,4,...,0,3,4,4,0,4,2,8,4,208500
1,4,3,90,1030,1,2,3,3,0,2,...,0,3,4,4,0,7,1,8,4,181500
2,9,3,78,161,1,2,0,3,0,4,...,0,3,4,4,0,11,2,8,4,223500
3,10,3,70,1021,1,2,0,3,0,0,...,0,3,4,4,0,4,0,8,0,140000
4,9,3,94,386,1,2,0,3,0,2,...,0,3,4,4,0,3,2,8,4,250000

In [6]:
X = df.drop(columns='SalePrice')
y = df['SalePrice']
test = t_df

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
rf = RandomForestClassifier(random_state=1, n_estimators=1000)
rf.fit(X_train, y_train)
pred_rf = rf.predict(X_test)
accuracy_score(pred_rf, y_test)

0.003424657534246575

In [9]:
mlp = MLPClassifier()
mlp.fit(X_train, y_train)
pred_mlp = mlp.predict(X_test)
accuracy_score(pred_mlp, y_test)

/opt/conda/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.0136986301369863

In [10]:
dtc = DecisionTreeRegressor(random_state=0)
dtc.fit(X_train, y_train)
pred_dtc = dtc.predict(X_test)
accuracy_score(pred_dtc, y_test)

0.00684931506849315

In [11]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='saga')
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
accuracy_score(pred, y_test)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

0.010273972602739725

In [12]:
rf.fit(X,y)
vals_rf = rf.predict(test)
file = pd.DataFrame({'Id':ffile, 'SalePrice':vals_rf})
file.to_csv('submission_rf.csv', index = False)
file.head()

     Id  SalePrice
0  1461     129000
1  1462     124500
2  1463     192000
3  1464     150000
4  1465     189000

In [13]:
mlp.fit(X,y)
vals_mlp = mlp.predict(test)
file = pd.DataFrame({'Id':ffile, 'SalePrice':vals_mlp})
file.to_csv('submission_mlp.csv', index = False)
file.head()

     Id  SalePrice
0  1461     171000
1  1462     158000
2  1463     179900
3  1464     201000
4  1465     270000

In [14]:
dtc.fit(X,y)
vals_dtc = dtc.predict(test)
file = pd.DataFrame({'Id':ffile, 'SalePrice':vals_dtc})
file.to_csv('submission_dtc.csv', index = False)
file.head()

     Id  SalePrice
0  1461    97500.0
1  1462   165000.0
2  1463   167900.0
3  1464   171000.0
4  1465   213500.0

In [15]:
lr.fit(X,y)
vals_lr = lr.predict(test)
file = pd.DataFrame({'Id':ffile, 'SalePrice':vals_lr})
file.to_csv('submission_lr.csv', index = False)
file.head()

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

     Id  SalePrice
0  1461     120500
1  1462     165000
2  1463     231500
3  1464     145000
4  1465     147000