**[SQL Course Home Page](https://www.kaggle.com/learn/SQL)**

---

# Intro

The first test of your new data exploration skills uses a data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers, and then it sets up the database helper object so you can connect to the database.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *


# create a helper object for our bigquery dataset
import bq_helper
chicago_crime = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                         dataset_name = "chicago_crime")
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Using Kaggle's public dataset BigQuery integration.
Setup Complete

For reference, here is all the code you saw in the first tutorial:

```
chicago_crime = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                       dataset_name = "chicago_crime")
chicago_crime.list_tables()
chicago_crime.table_schema("full")
chicago_crime.head("full")
chicago_crime.head("full", selected_columns="by", num_rows=10)
```

# Exercises

## 1
How many tables are in the Chicago Crime dataset?

In [2]:
 # Write the code you need here to figure out the answer
chicago_crime.list_tables()

['crime']

In [3]:
num_tables = 1  # store the answer as num_tables and then run this cell

q_1.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [4]:
q_1.hint()
q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

Solution:
```python

# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

num_tables = 1

```

In [5]:
chicago_crime.table_schema('crime')

                    name                        ...                                                                description
0             unique_key                        ...                                          Unique identifier for the record.
1            case_number                        ...                          The Chicago Police Department RD Number (Recor...
2                   date                        ...                          Date when the incident occurred. this is somet...
3                  block                        ...                          The partially redacted address where the incid...
4                   iucr                        ...                          The Illinois Unifrom Crime Reporting code. Thi...
5           primary_type                        ...                                  The primary description of the IUCR code.
6            description                        ...                          The secondary description of the IUCR code, a ...
7   location_description                        ...                          Description of the location where the incident...
8                 arrest                        ...                                      Indicates whether an arrest was made.
9               domestic                        ...                          Indicates whether the incident was domestic-re...
10                  beat                        ...                          Indicates the beat where the incident occurred...
11              district                        ...                          Indicates the police district where the incide...
12                  ward                        ...                          The ward (City Council district) where the inc...
13        community_area                        ...                          Indicates the community area where the inciden...
14              fbi_code                        ...                          Indicates the crime classification as outlined...
15          x_coordinate                        ...                          The x coordinate of the location where the inc...
16          y_coordinate                        ...                          The y coordinate of the location where the inc...
17                  year                        ...                                                Year the incident occurred.
18            updated_on                        ...                                 Date and time the record was last updated.
19              latitude                        ...                          The latitude of the location where the inciden...
20             longitude                        ...                          The longitude of the location where the incide...
21              location                        ...                          The location where the incident occurred in a ...

[22 rows x 4 columns]

In [6]:
chicago_crime.head('crime')

   unique_key              ...                                     location
0    11710432              ...                                         None
1    11697122              ...                                         None
2    11695438              ...                                         None
3    11687058              ...                (42.000256958, -87.805395024)
4    11655636              ...                (42.000169961, -87.806768009)

[5 rows x 22 columns]

In [7]:
chicago_crime.head('crime', selected_columns="primary_type", num_rows=10)

             primary_type
0       CRIMINAL TRESPASS
1      DECEPTIVE PRACTICE
2       CRIMINAL TRESPASS
3           OTHER OFFENSE
4            NON-CRIMINAL
5       WEAPONS VIOLATION
6  PUBLIC PEACE VIOLATION
7                 ASSAULT
8      DECEPTIVE PRACTICE
9                 BATTERY

## 2

How many columns in the `crime` table have `TIMESTAMP` data?

In [8]:
# Write the code to figure out the answer
chicago_crime.table_schema('crime')

                    name                        ...                                                                description
0             unique_key                        ...                                          Unique identifier for the record.
1            case_number                        ...                          The Chicago Police Department RD Number (Recor...
2                   date                        ...                          Date when the incident occurred. this is somet...
3                  block                        ...                          The partially redacted address where the incid...
4                   iucr                        ...                          The Illinois Unifrom Crime Reporting code. Thi...
5           primary_type                        ...                                  The primary description of the IUCR code.
6            description                        ...                          The secondary description of the IUCR code, a ...
7   location_description                        ...                          Description of the location where the incident...
8                 arrest                        ...                                      Indicates whether an arrest was made.
9               domestic                        ...                          Indicates whether the incident was domestic-re...
10                  beat                        ...                          Indicates the beat where the incident occurred...
11              district                        ...                          Indicates the police district where the incide...
12                  ward                        ...                          The ward (City Council district) where the inc...
13        community_area                        ...                          Indicates the community area where the inciden...
14              fbi_code                        ...                          Indicates the crime classification as outlined...
15          x_coordinate                        ...                          The x coordinate of the location where the inc...
16          y_coordinate                        ...                          The y coordinate of the location where the inc...
17                  year                        ...                                                Year the incident occurred.
18            updated_on                        ...                                 Date and time the record was last updated.
19              latitude                        ...                          The latitude of the location where the inciden...
20             longitude                        ...                          The longitude of the location where the incide...
21              location                        ...                          The location where the incident occurred in a ...

[22 rows x 4 columns]

In [9]:
num_timestamp_fields = 2 # put your answer here

q_2.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [10]:
q_2.hint()
q_2.solution()

Hint: Begin by fetching the `crime` table. Then take a look at the table schema, and check the field type of each column.  How many times does `'TIMESTAMP'` appear?

Solution:
```python

# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "chicago_crime" dataset
print(table.schema)

num_timestamp_fields = 2

```

## 3

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the database to plot the crimes on a map?

In [11]:
# Write the code here to explore the data so you can find the answer
chicago_crime.head('crime')

   unique_key              ...                                     location
0    11710432              ...                                         None
1    11697122              ...                                         None
2    11695438              ...                                         None
3    11687058              ...                (42.000256958, -87.805395024)
4    11655636              ...                (42.000169961, -87.806768009)

[5 rows x 22 columns]

In [12]:
fields_for_plotting = ['latitude', 'longitude']

q_3.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [13]:
q_3.hint()
q_3.solution()

Hint: Look at the table schema.  There are a couple options, but two of the fields are things commonly used to plot on maps. Both are `'FLOAT'` types. Use quotes around the field names in your answer.

Solution:
```python
fields_for_plotting = ['latitude', 'longitude']
```

Thinking about the question above, there are a columns that appear to have geographic data. Look at a few values (with the `head` command) to see if you can determine their relationship.  Two columns will still hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [14]:
# Scratch space for your code

In [15]:
from google.cloud import bigquery

In [16]:
# Create a "Client" object
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [17]:
# Construct a reference to the "hacker_news" dataset
basketball_ref = client.dataset("ncaa_basketball", project="bigquery-public-data")

# API request - fetch the dataset
bballdataset = client.get_dataset(basketball_ref)

In [18]:
# List all the tables in the "hacker_news" dataset
ncaatables = list(client.list_tables(bballdataset))

# Print names of all tables in the dataset (there are four!)
for table in ncaatables:  
    print(table.table_id)

mascots
mbb_games_sr
mbb_historical_teams_games
mbb_historical_teams_seasons
mbb_historical_tournament_games
mbb_pbp_sr
mbb_players_games_sr
mbb_teams
mbb_teams_games_sr
team_colors

In [19]:
# Construct a reference to the "full" table
ncaatable_ref = basketball_ref.table("mbb_players_games_sr")

# API request - fetch the table
playerstable = client.get_table(ncaatable_ref)

In [20]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
playerstable.schema

[SchemaField('game_id', 'STRING', 'NULLABLE', '[Game data] Unique identifier for the game', ()),
 SchemaField('season', 'INTEGER', 'NULLABLE', '[Game data] Season the game was played in', ()),
 SchemaField('neutral_site', 'BOOLEAN', 'NULLABLE', '[Game data] Indicator of whether the game was played on a neutral court', ()),
 SchemaField('scheduled_date', 'DATE', 'NULLABLE', '[Game data] Date the game was played', ()),
 SchemaField('gametime', 'TIMESTAMP', 'NULLABLE', '[Game data] Date and time the game was played', ()),
 SchemaField('tournament', 'STRING', 'NULLABLE', '[Game data] Whether the game was played in a post-season tournament', ()),
 SchemaField('tournament_type', 'STRING', 'NULLABLE', '[Game data] Type of post-season tournament a game was in played', ()),
 SchemaField('tournament_round', 'STRING', 'NULLABLE', '[Game data] Tournament round', ()),
 SchemaField('tournament_game_no', 'STRING', 'NULLABLE', '[Game data] Tournament game number', ()),
 SchemaField('player_id', 'STRING', 'NULLABLE', '[Player info] Player Sportradar player ID', ()),
 SchemaField('last_name', 'STRING', 'NULLABLE', '[Player info] Player last name', ()),
 SchemaField('first_name', 'STRING', 'NULLABLE', '[Player info] Player first name', ()),
 SchemaField('full_name', 'STRING', 'NULLABLE', '[Player info] Player full name', ()),
 SchemaField('abbr_name', 'STRING', 'NULLABLE', '[Player info] Player abbreviated name ("F.Last")', ()),
 SchemaField('status', 'STRING', 'NULLABLE', '[Player info] Player status as of 2017-18 season', ()),
 SchemaField('jersey_number', 'INTEGER', 'NULLABLE', '[Player info] Player jersey number', ()),
 SchemaField('height', 'INTEGER', 'NULLABLE', '[Player info] Player height', ()),
 SchemaField('weight', 'INTEGER', 'NULLABLE', '[Player info] Player weight', ()),
 SchemaField('birth_place', 'STRING', 'NULLABLE', "[Player info] Player birth place or home (Note: this information comes from the school's website, via Sportradar. While many of these entries indicate the player's birthplace, some of them may instead indicate the town that the players most identifies with.)", ()),
 SchemaField('birthplace_city', 'STRING', 'NULLABLE', "[Player info] Player's home city (Note: this information comes from the school's website, via Sportradar. While many of these entries indicate the player's birthplace, some of them may instead indicate the town that the players most identifies with.)", ()),
 SchemaField('birthplace_state', 'STRING', 'NULLABLE', "[Player info] Player's home state (Note: this information comes from the school's website, via Sportradar. While many of these entries indicate the player's birthplace, some of them may instead indicate the town that the players most identifies with.)", ()),
 SchemaField('birthplace_country', 'STRING', 'NULLABLE', "[Player info] Player's home country (Note: this information comes from the school's website, via Sportradar. While many of these entries indicate the player's birthplace, some of them may instead indicate the town that the players most identifies with.)", ()),
 SchemaField('class', 'STRING', 'NULLABLE', "[Player info] Player's class at game time (Note: this information comes from the school's website, via Sportradar.)", ()),
 SchemaField('team_name', 'STRING', 'NULLABLE', '[Team info] Team name', ()),
 SchemaField('team_market', 'STRING', 'NULLABLE', '[Team info] Team school name (using Sportradar names)', ()),
 SchemaField('team_id', 'STRING', 'NULLABLE', '[Team info] Sportradar team ID', ()),
 SchemaField('team_alias', 'STRING', 'NULLABLE', '[Team info] Team alias', ()),
 SchemaField('conf_name', 'STRING', 'NULLABLE', '[Team info] Team current conference name', ()),
 SchemaField('conf_alias', 'STRING', 'NULLABLE', '[Team info] Team current conference alias', ()),
 SchemaField('division_name', 'STRING', 'NULLABLE', '[Team info] Team current division name', ()),
 SchemaField('division_alias', 'STRING', 'NULLABLE', '[Team info] Team current division alias', ()),
 SchemaField('league_name', 'STRING', 'NULLABLE', '[Team info] Team current league name', ()),
 SchemaField('home_team', 'BOOLEAN', 'NULLABLE', '[Team info] Indicator of whether the team was the home team', ()),
 SchemaField('active', 'BOOLEAN', 'NULLABLE', '[Player stats] Indicator of whether the player was active for the game', ()),
 SchemaField('played', 'BOOLEAN', 'NULLABLE', '[Player stats] Indicator of whether the player played in the game', ()),
 SchemaField('starter', 'BOOLEAN', 'NULLABLE', '[Player stats] Indicator of whether the player started the game', ()),
 SchemaField('minutes', 'STRING', 'NULLABLE', '[Player stats] Minutes played', ()),
 SchemaField('minutes_int64', 'INTEGER', 'NULLABLE', '[Player stats] Minutes played (as integer)', ()),
 SchemaField('position', 'STRING', 'NULLABLE', '[Player stats] Position', ()),
 SchemaField('primary_position', 'STRING', 'NULLABLE', '[Player stats] Primary position', ()),
 SchemaField('field_goals_made', 'INTEGER', 'NULLABLE', '[Player stats] Field goals made', ()),
 SchemaField('field_goals_att', 'INTEGER', 'NULLABLE', '[Player stats] Field goals attempted', ()),
 SchemaField('field_goals_pct', 'FLOAT', 'NULLABLE', '[Player stats] Field goal percentage', ()),
 SchemaField('three_points_made', 'INTEGER', 'NULLABLE', '[Player stats] Three-pointers made', ()),
 SchemaField('three_points_att', 'INTEGER', 'NULLABLE', '[Player stats] Three-pointers attempted', ()),
 SchemaField('three_points_pct', 'FLOAT', 'NULLABLE', '[Player stats] Three-point shot percentage', ()),
 SchemaField('two_points_made', 'INTEGER', 'NULLABLE', '[Player stats] Two-pointers made', ()),
 SchemaField('two_points_att', 'INTEGER', 'NULLABLE', '[Player stats] Two-pointers attempted', ()),
 SchemaField('two_points_pct', 'FLOAT', 'NULLABLE', '[Player stats] Two-point shot percentage', ()),
 SchemaField('blocked_att', 'INTEGER', 'NULLABLE', '[Player stats] Number of shots blocked by the other team', ()),
 SchemaField('free_throws_made', 'INTEGER', 'NULLABLE', '[Player stats] Free throws made', ()),
 SchemaField('free_throws_att', 'INTEGER', 'NULLABLE', '[Player stats] Free throws attempted', ()),
 SchemaField('free_throws_pct', 'FLOAT', 'NULLABLE', '[Player stats] Free throw percentage', ()),
 SchemaField('offensive_rebounds', 'INTEGER', 'NULLABLE', '[Player stats] Offensive rebounds', ()),
 SchemaField('defensive_rebounds', 'INTEGER', 'NULLABLE', '[Player stats] Defensive rebounds', ()),
 SchemaField('rebounds', 'INTEGER', 'NULLABLE', '[Player stats] Total rebounds', ()),
 SchemaField('assists', 'INTEGER', 'NULLABLE', '[Player stats] Assists', ()),
 SchemaField('turnovers', 'INTEGER', 'NULLABLE', '[Player stats] Turnovers', ()),
 SchemaField('steals', 'INTEGER', 'NULLABLE', '[Player stats] Steals', ()),
 SchemaField('blocks', 'INTEGER', 'NULLABLE', '[Player stats] Blocks', ()),
 SchemaField('assists_turnover_ratio', 'FLOAT', 'NULLABLE', '[Player stats] Assist-to-turnover ratio', ()),
 SchemaField('personal_fouls', 'INTEGER', 'NULLABLE', '[Player stats] Personal fouls committed', ()),
 SchemaField('tech_fouls', 'INTEGER', 'NULLABLE', '[Player stats] Technical fouls committed', ()),
 SchemaField('flagrant_fouls', 'INTEGER', 'NULLABLE', '[Player stats] Flagrant fouls committed', ()),
 SchemaField('points', 'INTEGER', 'NULLABLE', '[Player stats] Points scored', ()),
 SchemaField('sp_created', 'TIMESTAMP', 'NULLABLE', '[Table data] Box score data entry time', ())]

In [21]:
# Preview the first 20 lines of the "full" table
client.list_rows(playerstable, max_results=20).to_dataframe()

                                 game_id            ...                           sp_created
0   14ab9c26-b586-4f68-8989-f433bb3a3e7f            ...            2018-02-20 13:03:24+00:00
1   64667cdd-9379-4ecc-877a-3fb4d76fbff2            ...            2018-02-20 13:03:27+00:00
2   fcc2decd-b14f-4fed-8a78-8856c6689c74            ...            2018-02-20 13:03:23+00:00
3   7cda8dca-e87b-4b4e-9eed-68cfba948957            ...            2018-02-20 13:03:26+00:00
4   b3b15b00-c5a6-4239-9c99-713ebe01b8c7            ...            2018-02-20 13:03:21+00:00
5   f4eba6ed-6136-4376-9427-aeea881048a1            ...            2018-02-20 13:03:22+00:00
6   fcc2decd-b14f-4fed-8a78-8856c6689c74            ...            2018-02-20 13:03:23+00:00
7   5aff9963-c223-4362-8a92-108dffeca2c9            ...            2018-02-20 13:03:22+00:00
8   998aa225-6303-488e-bd48-a4b07e1436c0            ...            2018-02-20 13:03:26+00:00
9   77037c06-bc2d-4207-b8e5-5f434adaf3cd            ...            2018-02-20 13:03:22+00:00
10  aab7831f-158b-4330-8db2-4f1f86a99dc5            ...            2018-02-20 13:03:22+00:00
11  77037c06-bc2d-4207-b8e5-5f434adaf3cd            ...            2018-02-20 13:03:22+00:00
12  4eb90d99-47b9-49d9-84df-0d619bd89dee            ...            2018-02-20 13:03:27+00:00
13  10f6f12d-f53a-4c05-a79d-cbedf38f1a1c            ...            2018-02-20 13:03:24+00:00
14  3c471313-e8b7-400d-99d4-d6c3cd4598f8            ...            2018-02-20 13:03:22+00:00
15  c191c524-80b6-4485-bbb5-00c32b02ff7a            ...            2018-02-20 13:03:24+00:00
16  4765d29f-7731-4dc6-b8b3-1facf9f0f2d2            ...            2018-02-20 13:03:22+00:00
17  a52fc233-4f73-4584-99e7-703fa1169219            ...            2018-02-20 13:03:24+00:00
18  4eb90d99-47b9-49d9-84df-0d619bd89dee            ...            2018-02-20 13:03:27+00:00
19  8f5471ba-dfeb-4e76-b3d0-3891b954fb7b            ...            2018-02-20 13:03:27+00:00

[20 rows x 66 columns]

In [22]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [23]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [24]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [25]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [26]:
# Preview the first 20 lines of the "full" table
client.list_rows(table, max_results=20).to_dataframe()

                by  score        time   ...   descendants        id ranking
0   giancarlostoro    NaN  1476640412   ...           NaN  12719892    None
1              zdw    NaN  1392909573   ...           NaN   7271136    None
2   makeitsuckless    NaN  1428418111   ...           NaN   9334413    None
3          maccard    NaN  1517252728   ...           NaN  16259810    None
4         netsharc    NaN  1505515447   ...           NaN  15261452    None
5                     NaN  1526085693   ...           NaN  17051768    None
6         rollulus    NaN  1519199357   ...           NaN  16427695    None
7     bunderbunder    NaN  1467661183   ...           NaN  12032576    None
8       inklesspen    2.0  1279139956   ...           1.0   1515867    None
9   aaronbrethorst    NaN  1555310704   ...           NaN  19663568    None
10        chmod775    NaN  1549035039   ...           NaN  19054865    None
11         Maxious    NaN  1321524414   ...           NaN   3247121    None
12       quasimojo    NaN  1223221964   ...           NaN    324137    None
13       apaprocki    NaN  1453906698   ...           NaN  10980278    None
14      steveplace    NaN  1231263574   ...           NaN    422150    None
15     cookiecaper    NaN  1484446006   ...           NaN  13401929    None
16      fredophile    NaN  1491552200   ...           NaN  14057984    None
17        darkpuma    NaN  1547605709   ...           NaN  18917805    None
18                    NaN  1380321438   ...           NaN   6460006    None
19         tcj_phx    NaN  1474227597   ...           NaN  12526802    None

[20 rows x 14 columns]

In [27]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

               by
0  giancarlostoro
1             zdw
2  makeitsuckless
3         maccard
4        netsharc

In [28]:
comment_ref = dataset_ref.table("comments")

#fetch data
comment_table = client.get_table(comment_ref)

In [29]:
comment_table.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [30]:
# Preview the first 20 lines of the "full" table
client.list_rows(comment_table, max_results=20).to_dataframe()

          id  by author        time   ...      parent deleted  dead ranking
0    2701393  5l     5l  1309184881   ...     2701243    None  None       0
1    5811403  99     99  1370234048   ...     5804452    None  None       0
2      21623  AF     AF  1178992400   ...       21611    None  None       0
3   10159727  EA     EA  1441206574   ...    10159396    None  None       0
4    2988424  Iv     Iv  1315853580   ...     2988179    None  None       0
5    3867418  Iv     Iv  1334921984   ...     3867404    None  None       0
6    3925617  Iv     Iv  1336076765   ...     3924840    None  None       0
7    3107534  Iv     Iv  1318520044   ...     3107241    None  None       0
8    8409259  Iv     Iv  1412421647   ...     8409226    None  None       0
9    2855741  Jd     Jd  1312690646   ...     2855343    None  None       0
10     50570  Jd     Jd  1189011845   ...       50556    None  None       0
11   2600618  Jd     Jd  1306794854   ...     2600609    None  None       0
12   2600423  Jd     Jd  1306789205   ...     2599323    None  None       0
13   1983932  Jd     Jd  1291831945   ...     1979965    None  None       0
14   5824036  Jd     Jd  1370414140   ...     5824021    None  None       0
15     73111  Jd     Jd  1193467001   ...       73107    None  None       0
16   4569290  Jd     Jd  1348562302   ...     4569255    None  None       0
17    319968  KB     KB  1222805047   ...      319943    None  None       0
18   9699296  M8     M8  1434026580   ...     9698927    None  None       0
19   4895850  Mz     Mz  1355082935   ...     4895812    None  None       0

[20 rows x 10 columns]

In [31]:
stories_ref = dataset_ref.table("stories")

#fetch data
stories_table = client.get_table(stories_ref)

In [32]:
stories_table.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique story ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of submitter', ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story text', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story descendants', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ())]

In [33]:
# Preview the first 20 lines of the "full" table
client.list_rows(stories_table, max_results=20).to_dataframe()

         id            by  score      ...       dead descendants        author
0   6940813     sarath237      0      ...       True         NaN     sarath237
1   6991401  123123321321      0      ...       True         NaN  123123321321
2   1531556           ssn      0      ...       None         0.0           ssn
3   5012398          hoju      0      ...       None         0.0          hoju
4   7214182         kogir      0      ...       None         0.0         kogir
5   1187303         kogir      0      ...       None         0.0         kogir
6   1318494         kogir      0      ...       None         0.0         kogir
7   3700400         kogir      0      ...       None         0.0         kogir
8   1384487         kogir      0      ...       None         0.0         kogir
9   3530428         kogir      0      ...       None         0.0         kogir
10  3538851         kogir      0      ...       None         0.0         kogir
11  4167497         kogir      0      ...       None         0.0         kogir
12  3789206         kogir      0      ...       None         0.0         kogir
13  4072660         kogir      0      ...       None         0.0         kogir
14  2979883         kogir      0      ...       None         0.0         kogir
15  3300974         kogir      0      ...       None         0.0         kogir
16  2305819         kogir      0      ...       None         0.0         kogir
17  3833628         kogir      0      ...       None         0.0         kogir
18  2606988         ramis      0      ...       True         0.0         ramis
19  4542754         tette      0      ...       None         0.0         tette

[20 rows x 12 columns]

# Keep Going

You've looked at the schema, but you haven't yet done anything exciting at the data itself. Things get more interesting when you get to the data, so keep going to learn **[Select Queries](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Course Home Page](https://www.kaggle.com/learn/SQL)**